@font-face{
  font-family: portcreb;
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/portcreb.ttf),
        url(../fonts/portcreb.woff),
        url(../fonts/portcreb.eot),
        url(../fonts/portcreb.svg);
}

h1.titulo{
  font-family: portcreb;
  font-size: 25px;
}
.azul1{
  color: #1550e5;
}
.amarillo1{
  color: #ffbc00;
  letter-spacing: -3px;
}
.azul2{
  color: #1550e5;
  letter-spacing: -2px;
}
.amarillo2{
  color: #ffbc00;
}